{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://health.amazonaws.com/"
        },
        {
            "url": "http://health.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<fullname>AWS Health</fullname> <p>The AWS Health API provides programmatic access to the AWS Health information that is presented in the <a href=\"https://phd.aws.amazon.com/phd/home#/\">AWS Personal Health Dashboard</a>. You can get information about events that affect your AWS resources:</p> <ul> <li> <p> <a>DescribeEvents</a>: Summary information about events.</p> </li> <li> <p> <a>DescribeEventDetails</a>: Detailed information about one or more events.</p> </li> <li> <p> <a>DescribeAffectedEntities</a>: Information about AWS resources that are affected by one or more events.</p> </li> </ul> <p>In addition, these operations provide information about event types and summary counts of events or affected entities:</p> <ul> <li> <p> <a>DescribeEventTypes</a>: Information about the kinds of events that AWS Health tracks.</p> </li> <li> <p> <a>DescribeEventAggregates</a>: A count of the number of events that meet specified criteria.</p> </li> <li> <p> <a>DescribeEntityAggregates</a>: A count of the number of affected entities that meet specified criteria.</p> </li> </ul> <p>The Health API requires a Business or Enterprise support plan from <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>. Calling the Health API from an account that does not have a Business or Enterprise support plan causes a <code>SubscriptionRequiredException</code>. </p> <p>For authentication of requests, AWS Health uses the <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a>.</p> <p>See the <a href=\"http://docs.aws.amazon.com/health/latest/ug/what-is-aws-health.html\">AWS Health User Guide</a> for information about how to use the API.</p> <p> <b>Service Endpoint</b> </p> <p>The HTTP endpoint for the AWS Health API is:</p> <ul> <li> <p>https://health.us-east-1.amazonaws.com </p> </li> </ul>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "AWS Health APIs and Notifications",
        "version": "2016-08-04",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/health-2016-08-04.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "health"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://aws.amazon.com/health/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Returns a list of entities that have been affected by the specified events, based on the specified filter criteria. Entities can refer to individual customer resources, groups of customer resources, or any other construct, depending on the AWS service. Events that have impact beyond that of the affected entities, or where the extent of impact is unknown, include at least one entity indicating this.</p> <p>At least one event ARN is required. Results are sorted by the <code>lastUpdatedTime</code> of the entity, starting with the most recent.</p>",
                "operationId": "DescribeAffectedEntities",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "maxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "entities": {
                                            "description": "The entities that match the filter criteria.",
                                            "items": {
                                                "description": "Information about an entity that is affected by a Health event.",
                                                "properties": {
                                                    "awsAccountId": {
                                                        "description": "The 12-digit AWS account number that contains the affected entity.",
                                                        "pattern": "[0-9]{12}",
                                                        "type": "string"
                                                    },
                                                    "entityArn": {
                                                        "description": "The unique identifier for the entity. Format: <code>arn:aws:health:<i>entity-region</i>:<i>aws-account</i>:entity/<i>entity-id</i> </code>. Example: <code>arn:aws:health:us-east-1:111222333444:entity/AVh5GGT7ul1arKr1sE1K</code> ",
                                                        "maxLength": 1600,
                                                        "type": "string"
                                                    },
                                                    "entityUrl": {
                                                        "pattern": "https?://.+\\.(amazon\\.com|amazonaws\\.com|amazonaws\\.cn|c2s\\.ic\\.gov|sc2s\\.sgov\\.gov|amazonaws-us-gov.com)/.*",
                                                        "type": "string"
                                                    },
                                                    "entityValue": {
                                                        "description": "The ID of the affected entity.",
                                                        "maxLength": 256,
                                                        "type": "string"
                                                    },
                                                    "eventArn": {
                                                        "description": "The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> ",
                                                        "maxLength": 1600,
                                                        "pattern": "arn:aws:health:[^:]*:[^:]*:event(?:/[\\w-]+){3}",
                                                        "type": "string"
                                                    },
                                                    "lastUpdatedTime": {
                                                        "description": "The most recent time that the entity was updated.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "statusCode": {
                                                        "description": "The most recent status of the entity affected by the event. The possible values are <code>IMPAIRED</code>, <code>UNIMPAIRED</code>, and <code>UNKNOWN</code>.",
                                                        "enum": [
                                                            "IMPAIRED",
                                                            "UNIMPAIRED",
                                                            "UNKNOWN"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "tags": {
                                                        "description": "A map of entity tags attached to the affected entity.",
                                                        "items": {
                                                            "properties": {
                                                                "key": {
                                                                    "maxLength": 127,
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "maxLength": 255,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "maxItems": 50,
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": "If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.",
                                            "pattern": "[a-zA-Z0-9=/+_.-]{4,512}",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidPaginationToken",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "UnsupportedLocale",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "filter": {
                                        "description": "Values to narrow the results returned. At least one event ARN is required. ",
                                        "properties": {
                                            "entityArns": {
                                                "description": "A list of entity ARNs (unique identifiers).",
                                                "items": {
                                                    "maxLength": 1600,
                                                    "type": "string"
                                                },
                                                "maxItems": 100,
                                                "minItems": 1,
                                                "type": "array"
                                            },
                                            "entityValues": {
                                                "description": "A list of IDs for affected entities.",
                                                "items": {
                                                    "maxLength": 256,
                                                    "type": "string"
                                                },
                                                "maxItems": 100,
                                                "minItems": 1,
                                                "type": "array"
                                            },
                                            "eventArns": {
                                                "description": "A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code> ",
                                                "items": {
                                                    "maxLength": 1600,
                                                    "pattern": "arn:aws:health:[^:]*:[^:]*:event(?:/[\\w-]+){3}",
                                                    "type": "string"
                                                },
                                                "maxItems": 10,
                                                "minItems": 1,
                                                "type": "array"
                                            },
                                            "lastUpdatedTimes": {
                                                "description": "A list of the most recent dates and times that the entity was updated.",
                                                "items": {
                                                    "description": "A range of dates and times that is used by the <a>EventFilter</a> and <a>EntityFilter</a> objects. If <code>from</code> is set and <code>to</code> is set: match items where the timestamp (<code>startTime</code>, <code>endTime</code>, or <code>lastUpdatedTime</code>) is between <code>from</code> and <code>to</code> inclusive. If <code>from</code> is set and <code>to</code> is not set: match items where the timestamp value is equal to or after <code>from</code>. If <code>from</code> is not set and <code>to</code> is set: match items where the timestamp value is equal to or before <code>to</code>.",
                                                    "properties": {
                                                        "from": {
                                                            "description": "The starting date and time of a time range.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "to": {
                                                            "description": "The ending date and time of a time range.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "maxItems": 10,
                                                "minItems": 1,
                                                "type": "array"
                                            },
                                            "statusCodes": {
                                                "description": "A list of entity status codes (<code>IMPAIRED</code>, <code>UNIMPAIRED</code>, or <code>UNKNOWN</code>).",
                                                "items": {
                                                    "enum": [
                                                        "IMPAIRED",
                                                        "UNIMPAIRED",
                                                        "UNKNOWN"
                                                    ],
                                                    "type": "string"
                                                },
                                                "maxItems": 3,
                                                "minItems": 1,
                                                "type": "array"
                                            },
                                            "tags": {
                                                "description": "A map of entity tags attached to the affected entity.",
                                                "items": {
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "maxLength": 127,
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "maxLength": 255,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "maxItems": 50,
                                                    "type": "array"
                                                },
                                                "maxItems": 50,
                                                "type": "array"
                                            }
                                        },
                                        "required": [
                                            "eventArns"
                                        ],
                                        "type": "object"
                                    },
                                    "locale": {
                                        "description": "The locale (language) to return information in. English (en) is the default and the only supported value at this time.",
                                        "maxLength": 256,
                                        "minLength": 2,
                                        "type": "string"
                                    },
                                    "maxResults": {
                                        "description": "The maximum number of items to return in one batch, between 10 and 100, inclusive.",
                                        "maximum": 100,
                                        "minimum": 10,
                                        "type": "integer"
                                    },
                                    "nextToken": {
                                        "description": "If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.",
                                        "pattern": "[a-zA-Z0-9=/+_.-]{4,512}",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "filter"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeEntityAggregates": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Returns the number of entities that are affected by each of the specified events. If no events are specified, the counts of all affected entities are returned.",
                "operationId": "DescribeEntityAggregates",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "entityAggregates": {
                                            "description": "The number of entities that are affected by each of the specified events.",
                                            "items": {
                                                "description": "The number of entities that are affected by one or more events. Returned by the <a>DescribeEntityAggregates</a> operation.",
                                                "properties": {
                                                    "count": {
                                                        "description": "The number entities that match the criteria for the specified events.",
                                                        "type": "integer"
                                                    },
                                                    "eventArn": {
                                                        "description": "The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> ",
                                                        "maxLength": 1600,
                                                        "pattern": "arn:aws:health:[^:]*:[^:]*:event(?:/[\\w-]+){3}",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "eventArns": {
                                        "description": "A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code> ",
                                        "items": {
                                            "maxLength": 1600,
                                            "pattern": "arn:aws:health:[^:]*:[^:]*:event(?:/[\\w-]+){3}",
                                            "type": "string"
                                        },
                                        "maxItems": 50,
                                        "minItems": 1,
                                        "type": "array"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeEventAggregates": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Returns the number of events of each event type (issue, scheduled change, and account notification). If no filter is specified, the counts of all events in each category are returned.",
                "operationId": "DescribeEventAggregates",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "maxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "eventAggregates": {
                                            "description": "The number of events in each category that meet the optional filter criteria.",
                                            "items": {
                                                "description": "The number of events of each issue type. Returned by the <a>DescribeEventAggregates</a> operation.",
                                                "properties": {
                                                    "aggregateValue": {
                                                        "description": "The issue type for the associated count.",
                                                        "type": "string"
                                                    },
                                                    "count": {
                                                        "description": "The number of events of the associated issue type.",
                                                        "type": "integer"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": "If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.",
                                            "pattern": "[a-zA-Z0-9=/+_.-]{4,512}",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidPaginationToken",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "aggregateField": {
                                        "description": "The only currently supported value is <code>eventTypeCategory</code>.",
                                        "enum": [
                                            "eventTypeCategory"
                                        ],
                                        "type": "string"
                                    },
                                    "filter": {
                                        "description": "Values to narrow the results returned.",
                                        "properties": {
                                            "availabilityZones": {
                                                "description": "A list of AWS availability zones.",
                                                "items": {
                                                    "pattern": "[a-z]{2}\\-[0-9a-z\\-]{4,16}",
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "endTimes": {
                                                "description": "A list of dates and times that the event ended.",
                                                "items": {
                                                    "description": "A range of dates and times that is used by the <a>EventFilter</a> and <a>EntityFilter</a> objects. If <code>from</code> is set and <code>to</code> is set: match items where the timestamp (<code>startTime</code>, <code>endTime</code>, or <code>lastUpdatedTime</code>) is between <code>from</code> and <code>to</code> inclusive. If <code>from</code> is set and <code>to</code> is not set: match items where the timestamp value is equal to or after <code>from</code>. If <code>from</code> is not set and <code>to</code> is set: match items where the timestamp value is equal to or before <code>to</code>.",
                                                    "properties": {
                                                        "from": {
                                                            "description": "The starting date and time of a time range.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "to": {
                                                            "description": "The ending date and time of a time range.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "maxItems": 10,
                                                "minItems": 1,
                                                "type": "array"
                                            },
                                            "entityArns": {
                                                "description": "A list of entity ARNs (unique identifiers).",
                                                "items": {
                                                    "maxLength": 1600,
                                                    "type": "string"
                                                },
                                                "maxItems": 100,
                                                "minItems": 1,
                                                "type": "array"
                                            },
                                            "entityValues": {
                                                "description": "A list of entity identifiers, such as EC2 instance IDs (<code>i-34ab692e</code>) or EBS volumes (<code>vol-426ab23e</code>).",
                                                "items": {
                                                    "maxLength": 256,
                                                    "type": "string"
                                                },
                                                "maxItems": 100,
                                                "minItems": 1,
                                                "type": "array"
                                            },
                                            "eventArns": {
                                                "description": "A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code> ",
                                                "items": {
                                                    "maxLength": 1600,
                                                    "pattern": "arn:aws:health:[^:]*:[^:]*:event(?:/[\\w-]+){3}",
                                                    "type": "string"
                                                },
                                                "maxItems": 10,
                                                "minItems": 1,
                                                "type": "array"
                                            },
                                            "eventStatusCodes": {
                                                "description": "A list of event status codes.",
                                                "items": {
                                                    "enum": [
                                                        "open",
                                                        "closed",
                                                        "upcoming"
                                                    ],
                                                    "type": "string"
                                                },
                                                "maxItems": 6,
                                                "minItems": 1,
                                                "type": "array"
                                            },
                                            "eventTypeCategories": {
                                                "description": "A list of event type category codes (<code>issue</code>, <code>scheduledChange</code>, or <code>accountNotification</code>).",
                                                "items": {
                                                    "enum": [
                                                        "issue",
                                                        "accountNotification",
                                                        "scheduledChange"
                                                    ],
                                                    "maxLength": 255,
                                                    "minLength": 3,
                                                    "type": "string"
                                                },
                                                "maxItems": 10,
                                                "minItems": 1,
                                                "type": "array"
                                            },
                                            "eventTypeCodes": {
                                                "description": "A list of unique identifiers for event types. For example, <code>\"AWS_EC2_SYSTEM_MAINTENANCE_EVENT\",\"AWS_RDS_MAINTENANCE_SCHEDULED\"</code> ",
                                                "items": {
                                                    "maxLength": 100,
                                                    "minLength": 3,
                                                    "type": "string"
                                                },
                                                "maxItems": 10,
                                                "minItems": 1,
                                                "type": "array"
                                            },
                                            "lastUpdatedTimes": {
                                                "description": "A list of dates and times that the event was last updated.",
                                                "items": {
                                                    "description": "A range of dates and times that is used by the <a>EventFilter</a> and <a>EntityFilter</a> objects. If <code>from</code> is set and <code>to</code> is set: match items where the timestamp (<code>startTime</code>, <code>endTime</code>, or <code>lastUpdatedTime</code>) is between <code>from</code> and <code>to</code> inclusive. If <code>from</code> is set and <code>to</code> is not set: match items where the timestamp value is equal to or after <code>from</code>. If <code>from</code> is not set and <code>to</code> is set: match items where the timestamp value is equal to or before <code>to</code>.",
                                                    "properties": {
                                                        "from": {
                                                            "description": "The starting date and time of a time range.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "to": {
                                                            "description": "The ending date and time of a time range.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "maxItems": 10,
                                                "minItems": 1,
                                                "type": "array"
                                            },
                                            "regions": {
                                                "description": "A list of AWS regions.",
                                                "items": {
                                                    "pattern": "[^:/]{2,25}",
                                                    "type": "string"
                                                },
                                                "maxItems": 10,
                                                "minItems": 1,
                                                "type": "array"
                                            },
                                            "services": {
                                                "description": "The AWS services associated with the event. For example, <code>EC2</code>, <code>RDS</code>.",
                                                "items": {
                                                    "maxLength": 30,
                                                    "minLength": 2,
                                                    "type": "string"
                                                },
                                                "maxItems": 10,
                                                "minItems": 1,
                                                "type": "array"
                                            },
                                            "startTimes": {
                                                "description": "A list of dates and times that the event began.",
                                                "items": {
                                                    "description": "A range of dates and times that is used by the <a>EventFilter</a> and <a>EntityFilter</a> objects. If <code>from</code> is set and <code>to</code> is set: match items where the timestamp (<code>startTime</code>, <code>endTime</code>, or <code>lastUpdatedTime</code>) is between <code>from</code> and <code>to</code> inclusive. If <code>from</code> is set and <code>to</code> is not set: match items where the timestamp value is equal to or after <code>from</code>. If <code>from</code> is not set and <code>to</code> is set: match items where the timestamp value is equal to or before <code>to</code>.",
                                                    "properties": {
                                                        "from": {
                                                            "description": "The starting date and time of a time range.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "to": {
                                                            "description": "The ending date and time of a time range.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "maxItems": 10,
                                                "minItems": 1,
                                                "type": "array"
                                            },
                                            "tags": {
                                                "description": "A map of entity tags attached to the affected entity.",
                                                "items": {
                                                    "items": {
                                                        "properties": {
                                                            "key": {
                                                                "maxLength": 127,
                                                                "type": "string"
                                                            },
                                                            "value": {
                                                                "maxLength": 255,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "maxItems": 50,
                                                    "type": "array"
                                                },
                                                "maxItems": 50,
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "maxResults": {
                                        "description": "The maximum number of items to return in one batch, between 10 and 100, inclusive.",
                                        "maximum": 100,
                                        "minimum": 10,
                                        "type": "integer"
                                    },
                                    "nextToken": {
                                        "description": "If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.",
                                        "pattern": "[a-zA-Z0-9=/+_.-]{4,512}",
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "aggregateField"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeEventDetails": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Returns detailed information about one or more specified events. Information includes standard event data (region, service, etc., as returned by <a>DescribeEvents</a>), a detailed event description, and possible additional metadata that depends upon the nature of the event. Affected entities are not included; to retrieve those, use the <a>DescribeAffectedEntities</a> operation.</p> <p>If a specified event cannot be retrieved, an error message is returned for that event.</p>",
                "operationId": "DescribeEventDetails",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "failedSet": {
                                            "description": "Error messages for any events that could not be retrieved.",
                                            "items": {
                                                "description": "Error information returned when a <a>DescribeEventDetails</a> operation cannot find a specified event.",
                                                "properties": {
                                                    "errorMessage": {
                                                        "description": "A message that describes the error.",
                                                        "type": "string"
                                                    },
                                                    "errorName": {
                                                        "description": "The name of the error.",
                                                        "type": "string"
                                                    },
                                                    "eventArn": {
                                                        "description": "The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> ",
                                                        "maxLength": 1600,
                                                        "pattern": "arn:aws:health:[^:]*:[^:]*:event(?:/[\\w-]+){3}",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "successfulSet": {
                                            "description": "Information about the events that could be retrieved.",
                                            "items": {
                                                "description": "Detailed information about an event. A combination of an <a>Event</a> object, an <a>EventDescription</a> object, and additional metadata about the event. Returned by the <a>DescribeEventDetails</a> operation.",
                                                "properties": {
                                                    "event": {
                                                        "description": "Summary information about the event.",
                                                        "properties": {
                                                            "arn": {
                                                                "description": "The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> ",
                                                                "maxLength": 1600,
                                                                "pattern": "arn:aws:health:[^:]*:[^:]*:event(?:/[\\w-]+){3}",
                                                                "type": "string"
                                                            },
                                                            "availabilityZone": {
                                                                "description": "The AWS Availability Zone of the event. For example, us-east-1a.",
                                                                "pattern": "[a-z]{2}\\-[0-9a-z\\-]{4,16}",
                                                                "type": "string"
                                                            },
                                                            "endTime": {
                                                                "description": "The date and time that the event ended.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "eventTypeCategory": {
                                                                "description": "The category of the event. Possible values are <code>issue</code>, <code>scheduledChange</code>, and <code>accountNotification</code>.",
                                                                "enum": [
                                                                    "issue",
                                                                    "accountNotification",
                                                                    "scheduledChange"
                                                                ],
                                                                "maxLength": 255,
                                                                "minLength": 3,
                                                                "type": "string"
                                                            },
                                                            "eventTypeCode": {
                                                                "description": "The unique identifier for the event type. The format is <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i> </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.",
                                                                "maxLength": 100,
                                                                "minLength": 3,
                                                                "type": "string"
                                                            },
                                                            "lastUpdatedTime": {
                                                                "description": "The most recent date and time that the event was updated.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "region": {
                                                                "description": "The AWS region name of the event.",
                                                                "pattern": "[^:/]{2,25}",
                                                                "type": "string"
                                                            },
                                                            "service": {
                                                                "description": "The AWS service that is affected by the event. For example, <code>EC2</code>, <code>RDS</code>.",
                                                                "maxLength": 30,
                                                                "minLength": 2,
                                                                "type": "string"
                                                            },
                                                            "startTime": {
                                                                "description": "The date and time that the event began.",
                                                                "format": "date-time",
                                                                "type": "string"
                                                            },
                                                            "statusCode": {
                                                                "description": "The most recent status of the event. Possible values are <code>open</code>, <code>closed</code>, and <code>upcoming</code>.",
                                                                "enum": [
                                                                    "open",
                                                                    "closed",
                                                                    "upcoming"
                                                                ],
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "eventDescription": {
                                                        "description": "The most recent description of the event.",
                                                        "properties": {
                                                            "latestDescription": {
                                                                "description": "The most recent description of the event.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "eventMetadata": {
                                                        "description": "Additional metadata about the event.",
                                                        "items": {
                                                            "properties": {
                                                                "key": {
                                                                    "type": "string"
                                                                },
                                                                "value": {
                                                                    "maxLength": 10240,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "UnsupportedLocale",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "eventArns": {
                                        "description": "A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code> ",
                                        "items": {
                                            "maxLength": 1600,
                                            "pattern": "arn:aws:health:[^:]*:[^:]*:event(?:/[\\w-]+){3}",
                                            "type": "string"
                                        },
                                        "maxItems": 10,
                                        "minItems": 1,
                                        "type": "array"
                                    },
                                    "locale": {
                                        "description": "The locale (language) to return information in. English (en) is the default and the only supported value at this time.",
                                        "maxLength": 256,
                                        "minLength": 2,
                                        "type": "string"
                                    }
                                },
                                "required": [
                                    "eventArns"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeEventTypes": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Returns the event types that meet the specified filter criteria. If no filter criteria are specified, all event types are returned, in no particular order.",
                "operationId": "DescribeEventTypes",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "maxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "eventTypes": {
                                            "description": "A list of event types that match the filter criteria. Event types have a category (<code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>), a service (for example, <code>EC2</code>, <code>RDS</code>, <code>DATAPIPELINE</code>, <code>BILLING</code>), and a code (in the format <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i> </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>).",
                                            "items": {
                                                "description": "Metadata about a type of event that is reported by AWS Health. Data consists of the category (for example, <code>issue</code>), the service (for example, <code>EC2</code>), and the event type code (for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>).",
                                                "properties": {
                                                    "category": {
                                                        "description": "A list of event type category codes (<code>issue</code>, <code>scheduledChange</code>, or <code>accountNotification</code>).",
                                                        "enum": [
                                                            "issue",
                                                            "accountNotification",
                                                            "scheduledChange"
                                                        ],
                                                        "maxLength": 255,
                                                        "minLength": 3,
                                                        "type": "string"
                                                    },
                                                    "code": {
                                                        "description": "The unique identifier for the event type. The format is <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i> </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.",
                                                        "maxLength": 100,
                                                        "minLength": 3,
                                                        "type": "string"
                                                    },
                                                    "service": {
                                                        "description": "The AWS service that is affected by the event. For example, <code>EC2</code>, <code>RDS</code>.",
                                                        "maxLength": 30,
                                                        "minLength": 2,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": "If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.",
                                            "pattern": "[a-zA-Z0-9=/+_.-]{4,512}",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidPaginationToken",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "UnsupportedLocale",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "filter": {
                                        "description": "Values to narrow the results returned.",
                                        "properties": {
                                            "eventTypeCategories": {
                                                "description": "A list of event type category codes (<code>issue</code>, <code>scheduledChange</code>, or <code>accountNotification</code>).",
                                                "items": {
                                                    "enum": [
                                                        "issue",
                                                        "accountNotification",
                                                        "scheduledChange"
                                                    ],
                                                    "maxLength": 255,
                                                    "minLength": 3,
                                                    "type": "string"
                                                },
                                                "maxItems": 10,
                                                "minItems": 1,
                                                "type": "array"
                                            },
                                            "eventTypeCodes": {
                                                "description": "A list of event type codes.",
                                                "items": {
                                                    "maxLength": 100,
                                                    "minLength": 3,
                                                    "type": "string"
                                                },
                                                "maxItems": 10,
                                                "minItems": 1,
                                                "type": "array"
                                            },
                                            "services": {
                                                "description": "The AWS services associated with the event. For example, <code>EC2</code>, <code>RDS</code>.",
                                                "items": {
                                                    "maxLength": 30,
                                                    "minLength": 2,
                                                    "type": "string"
                                                },
                                                "maxItems": 10,
                                                "minItems": 1,
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "locale": {
                                        "description": "The locale (language) to return information in. English (en) is the default and the only supported value at this time.",
                                        "maxLength": 256,
                                        "minLength": 2,
                                        "type": "string"
                                    },
                                    "maxResults": {
                                        "description": "The maximum number of items to return in one batch, between 10 and 100, inclusive.",
                                        "maximum": 100,
                                        "minimum": 10,
                                        "type": "integer"
                                    },
                                    "nextToken": {
                                        "description": "If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.",
                                        "pattern": "[a-zA-Z0-9=/+_.-]{4,512}",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeEvents": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Returns information about events that meet the specified filter criteria. Events are returned in a summary form and do not include the detailed description, any additional metadata that depends on the event type, or any affected resources. To retrieve that information, use the <a>DescribeEventDetails</a> and <a>DescribeAffectedEntities</a> operations.</p> <p>If no filter criteria are specified, all events are returned. Results are sorted by <code>lastModifiedTime</code>, starting with the most recent.</p>",
                "operationId": "DescribeEvents",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "maxResults",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "nextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "events": {
                                            "description": "The events that match the specified filter criteria.",
                                            "items": {
                                                "description": "Summary information about an event, returned by the <a>DescribeEvents</a> operation. The <a>DescribeEventDetails</a> operation also returns this information, as well as the <a>EventDescription</a> and additional event metadata.",
                                                "properties": {
                                                    "arn": {
                                                        "description": "The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i> </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code> ",
                                                        "maxLength": 1600,
                                                        "pattern": "arn:aws:health:[^:]*:[^:]*:event(?:/[\\w-]+){3}",
                                                        "type": "string"
                                                    },
                                                    "availabilityZone": {
                                                        "description": "The AWS Availability Zone of the event. For example, us-east-1a.",
                                                        "pattern": "[a-z]{2}\\-[0-9a-z\\-]{4,16}",
                                                        "type": "string"
                                                    },
                                                    "endTime": {
                                                        "description": "The date and time that the event ended.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "eventTypeCategory": {
                                                        "description": "The category of the event. Possible values are <code>issue</code>, <code>scheduledChange</code>, and <code>accountNotification</code>.",
                                                        "enum": [
                                                            "issue",
                                                            "accountNotification",
                                                            "scheduledChange"
                                                        ],
                                                        "maxLength": 255,
                                                        "minLength": 3,
                                                        "type": "string"
                                                    },
                                                    "eventTypeCode": {
                                                        "description": "The unique identifier for the event type. The format is <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i> </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.",
                                                        "maxLength": 100,
                                                        "minLength": 3,
                                                        "type": "string"
                                                    },
                                                    "lastUpdatedTime": {
                                                        "description": "The most recent date and time that the event was updated.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "region": {
                                                        "description": "The AWS region name of the event.",
                                                        "pattern": "[^:/]{2,25}",
                                                        "type": "string"
                                                    },
                                                    "service": {
                                                        "description": "The AWS service that is affected by the event. For example, <code>EC2</code>, <code>RDS</code>.",
                                                        "maxLength": 30,
                                                        "minLength": 2,
                                                        "type": "string"
                                                    },
                                                    "startTime": {
                                                        "description": "The date and time that the event began.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "statusCode": {
                                                        "description": "The most recent status of the event. Possible values are <code>open</code>, <code>closed</code>, and <code>upcoming</code>.",
                                                        "enum": [
                                                            "open",
                                                            "closed",
                                                            "upcoming"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextToken": {
                                            "description": "If the results of a search are large, only a portion of the results are returned, and a <code>nextToken</code> pagination token is returned in the response. To retrieve the next batch of results, reissue the search request and include the returned token. When all results have been returned, the response does not contain a pagination token value.",
                                            "pattern": "[a-zA-Z0-9=/+_.-]{4,512}",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidPaginationToken",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "UnsupportedLocale",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "filter": {
                                        "description": "Values to narrow the results returned.",
                                        "properties": {
                                            "availabilityZones": {
                                                "description": "A list of AWS availability zones.",
                                                "items": {
                                                    "pattern": "[a-z]{2}\\-[0-9a-z\\-]{4,16}",
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "endTimes": {
                                                "description": "A list of dates and times that the event ended.",
                                                "items": {
                                                    "description": "A range of dates and times that is used by the <a>EventFilter</a> and <a>EntityFilter</a> objects. If <code>from</code> is set and <code>to</code> is set: match items where the timestamp (<code>startTime</code>, <code>endTime</code>, or <code>lastUpdatedTime</code>) is between <code>from</code> and <code>to</code> inclusive. If <code>from</code> is set and <code>to</code> is not set: match items where the timestamp value is equal to or after <code>from</code>. If <code>from</code> is not set and <code>to</code> is set: match items where the timestamp value is equal to or before <code>to</code>.",
                                                    "properties": {
                                                        "from": {
                                                            "description": "The starting date and time of a time range.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        },
                                                        "to": {
                                                            "description": "The ending date and time of a time range.",
                                                            "format": "date-time",
                                                            "type": "string"
                                                        }
                                                    },
[...]
